// .aside-detail-user {
//     padding-left: 5em;
// }

.profile-user {

    .card-image-profile {
        width: 3em;
    }
    
    .card-title {
        position: relative;
        top: -100px;
        left: 80px;
    }
    
    .card-image-profile {
        position: relative;
        top: -45px;
    }
    
    .card-text {
        position: relative;
        top: -80px;
    }
    
    .boton-2 {
        border-radius: 5px;
        color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
        font-size: 1em;
        font-family: #3b49df;
        font-weight: bold;
        background-color: #3b49df;
        position: relative;
        top: -80px;
        &:hover{
            background-color: #1827ce;
            color: white;
        }
    }
    
    .card-body {
        font-family: 'helvetica neue';
        font-size: 1em;
    
        .card-text {
            color: #585f65;
        }
    }
    .profile-data {
        position: relative;
        top: -80px;
        
        h6 {
            font-family: 'helvetica neue';
            font-size:12px;
            color: #6b7888;
            font-weight: bold;
        }
    }
}

.detail-user {
    font-family: 'helvetica neue';

    h5 {
        font-weight: bold;
    }

    .a-1:link {
        color: #3845c7;
    }

  /* visited link */
    .a-1:visited {
        color: #3845c7;
    }

  /* mouse over link */
    .a-1:hover {
        color: #3845c7;
        text-decoration: none;
    }

  /* selected link */
    .a-1:active {
        color: black;
    }

    .a-2:link {
        color: black;
    }

  /* visited link */
    .a-2:visited {
        color: black;
    }

  /* mouse over link */
    .a-2:hover {
        color: #3845c7;
        text-decoration: none;
    }

  /* selected link */
    .a-2:active {
        color: #3845c7;
    }

    .list-group {

        li {
            font-size: 16px;
        }

        p {
            padding-top: 1em;
            font-size: 15px;
            color :#585f65;
            line-height: 150%;
            word-spacing: 1em;
        }
    }
}
