.icons-interaction {
    font-family: 'helvetica neue';
    // padding-right: 2em;

    .numbers {
        font-size: 0.9em;
        color: #585f65;
        padding-top: 0.5em;
        padding-bottom: 2em;
    }
}
