.cards-main{
    .container-post-menu{
        .icon_db{
            width: 24px;
            height: 24px;
        }
        .post_title{
            font-size: 18px;
            font-weight: bold;
            color: #212529;
        }
        .menu_rigth{
            .select-menu{
                appearance: none;
                -webkit-appearance: none;
                color: #08090a;
                font-size: 16px;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDE2TDYgMTBIMThMMTIgMTZaIiBmaWxsPSIjMDgwOTBBIi8+Cjwvc3ZnPg==);
                background-position: 90% center;
                background-repeat: no-repeat;
                border: none;
                border: 1px solid $form-border;
                outline: none;
                &:focus{
                    border: 1px solid $focus-form-border;
                    box-shadow: 1px 1px 0 $focus-form-border;
                }
            }
            .nav_menu{
                a{
                    color: #08090a;
                }
            }
        }
    }
    .card_main{
        box-shadow: 0 0 0 1px $card-border;
        .author{
            .img-author{
                width: 32px;
                height: 32px;
                margin-right: .5rem;
            }
            .author_data{
                a{
                    color: #4d5760;
                    font-size: 0.875rem;
                }
                p{
                    font-size: .75rem;
                    color: $color-gray;
                }
            }
        }
        .card-resume{
            padding-left: 2.5rem;
            h3{
                color: #08090A;
                font-size: 1.25rem;
                font-weight: bold;
            }
            .hashtags{
                color: $color-gray;
                font-size: .875rem;
            }  
            .icon-card-item{
                font-size: .875rem;
            }
            .mins-to-read{
                color: $color-gray;
            }
            .btn-save{
                background-color: $color-silver;
                font-size: 0.875rem;
                color: $color-button-dark;
            }
        }
    }
}
