$font-family: 'Soleil';
$button-primary-font-color: #f9fafa;
$button-primary-bg: #3b49df;
$button-primary-bg-hover: #1827ce;
$button-radius: 5px;
$button-font-size: 1.125rem;
$header-icons-color: #4d5760;
$header-icons-color-hover: #08090a;
$icon-bg: #eef0f1;
$color-silver: #d2d6db;
$color-gray: #64707D;
$color-button-dark: #363d44;
$card-border: rgba(8,9,10,.1);
$form-border: #99a3ad;
$focus-form-border: #3b49df;